* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  text-align: center;
  padding: 3rem 0;
  background-image: radial-gradient(#27496d 60%, #142850);
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.heading {

}

.heading__text {
  font-size: 3rem;
  font-family: 'Merienda', cursive;
  color: #00a8cc;
  margin-bottom: 1.5rem;
}

.game {
  margin: 0;
  /* size:  */
}
.score__text {
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #81e4fa;
}
#game-canvas {
  /* height: 500px;
  width: 700px; */
  /* background-color: #0c7b93; */
  border-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color: #142850;
  transition: all ease;
  position: relative;
}

.game-end {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 5rem;
  color: aqua;
  text-shadow: 0px 0px 40px #000000;
}

.play-again {
  background-color: rgb(10, 173, 173);
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 5px;
  color: rgb(181, 241, 241);
  display: inline-block;
  padding: 1rem;
  font-size: 3rem;
  margin-top: 2rem;
  box-shadow: 0 0 10px 5px rgb(0, 99, 99);
  transition: all .4s;
}

.play-again:hover {
  background-color: #81e4fa;
  color: white;
  cursor: pointer;
}

